<form id="new-key-form" class="standalone-form" action="<%= root_path %>create" method="post" onsubmit="disableSubmit(event.target); rememberFileSelection(event.target);">
  <h2>Add new translation:</h2>
  <table>
    <tr>
      <td class="table-header">
        File
        <a href="#" title="This file is used for every translation you create on this page.">?</a>
      </td>
      <td>
        <select name='key[path_template]' class="file_selection">
          <% app.store.path_templates.each do |path_template| %>
            <option value="<%=path_template%>"><%= path_template.gsub(app.base_path + '/', '') %></option>
          <% end %>
        </select>
      </td>
    </tr>
    <tr>
      <td class="table-header">
        Global Key
        <a href="#" title="This is only used to copy it to the key input for a new translation">?</a>
      </td>
      <td><input class="key_input global_key" type="text" size="60" autofocus onfocus="this.value = this.value;" value="<%= ERB::Util.html_escape(String(request.params['key']).gsub(/^\^/, '')) %>"/></td>
    </tr>
    <tr>
      <td class="table-header">Add translation</td>
      <td><a href="#" onclick="addTranslation();">+</a></td>
    </tr>
    <tr id="translations">
    </tr>
  </table>
  <p><input class="btn btn-primary" type="submit" value="Create key(s)"></p>
</form>

<%
  array = []
  app.store.locales.each { |locale| array = array + [locale.id] }
%>

<script>
  localStorage.setItem('locales', <%= array %>);
  restoreFileSelection(document.getElementById("new-key-form"));
  $('#new_translation').click(addTranslation());
</script>
