%form#updateform{ action: "#{root_path}update", method: 'post', onsubmit: 'disableSubmit(event.target);' }
  - filter_params.each do |filter, value|
    %input{name: "filters[#{filter}]", type: 'hidden', value: value}
  %table.keys{ cellspacing: '0' }
    - keys.each do |key|
      - json_key = store.json_key?(key)
      %tr.translation{ class: "#{store.key_complete?(key) ? 'incomplete' : ''} #{store.key_empty?(key) ? 'empty' : ''}"}
        %td.key
          %span.text= key.name
        %td.translations
          %table.locales
            - translation_repository.all_for_key(key).each do |translation|
              %tr
                %td.locale
                  = translation.locale_id
                  :
                %td.value
                  - if json_key
                    %span [JSON]

                    %textarea{ cols: 80, rows: translation.number_of_lines, name: "translations[#{translation.id}][value]", dir: 'auto' }
                      = translation.value.to_json
                  - else
                    %textarea{ cols: 80, rows: translation.number_of_lines, name: "translations[#{translation.id}][text]", dir: 'auto' }
                      = Rack::Utils.escape_html translation.text
        %td{ width: '1%' }
          %a.btn.btn-small.hover-button{:href => edit_key_path(key)}
            Rename
        %td{ width: '1%' }
          %a.btn.btn-danger.btn-small.hover-button{ href: destroy_key_path(key) }
            Delete
  %p.pull-right
    %input#save.btn.btn-primary{type: 'submit', value: 'Save Translations'}
- if keys.empty?
  %h3
    Could not find any keys for your search.
    %a{href: "#{root_path}new?key=#{filter_params['key']}"}
      Create a new one