<form id="updateform" action="<%= root_path %>update" method="post">
  <% filter_params.each do |filter, value| %>
    <input name="filters[<%= filter %>]" type="hidden" value="<%= value %>"/>
  <% end %>

  <table class="keys" cellspacing="0">
    <% keys.each do |key| %>
      <tr class="translation
        <%= "incomplete" unless store.key_complete?(key) %>
        <%= "empty" if store.key_empty?(key) %>
        ">
        <td class="key">
          <span class="text"><%= key.name %></span>
        </td>
        <td class="translations">
          <table class="locales">
            <% translation_repository.all_for_key(key).each do |translation| %>
              <tr>
                <td class="locale"><%= translation.locale_id %>:</td>
                <td class="value">
                  <% if translation.stringish? %>
                    <textarea cols=80 rows=<%= translation.number_of_lines %> name="translations[<%= translation.id %>]" dir="auto"><%= Rack::Utils.escape_html translation.text %></textarea>
                  <% else %>
                    [read only]
                    <%= translation[:text].class.name %>
                    <%= Rack::Utils.escape_html translation[:text].inspect %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </td>
        <td width="1%">
          <a href="<%= edit_key_path(key) %>" class='btn btn-small rename-button'>Rename</a>
        </td>
        <td width="1%">
          <a href="<%= destroy_key_path(key) %>" class='btn btn-danger btn-small delete-button'>Delete</a>
        </td>
      </tr>
    <% end %>
  </table>

  <p class="pull-right">
    <input class="btn btn-primary" type="submit" id="save" value="Save Translations" />
  </p>
</form>

<% if keys.empty? %>
  <h3>
    Could not find any keys for your search.
    <a href="<%= root_path %>new?key=<%= filter_params['key'] %>">Create a new one</a>
  </h3>
<% end %>